h1{
    font-size: 70px;
    text-align: center;
    text-decoration: solid;
    text-decoration-line: underline;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    text-decoration-line: underline;
    font-size: 60px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
h3{
    font-size: 80px;
    text-decoration-line: underline;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
h3 span{
    background-color: wheat;
}
h4{
    font-size: 20px;
    font-style: italic;
    color: black;
}
.h2{
    text-align:center;
    font-size: 70px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.para1{
    font-size: 26px;
    font-style: italic;
    font-family: monospace;
}
.para2{
    font-size: 40px;
    font-style: italic;
    font-family: fantasy;
    text-align: center;
}
.para3{
    font-size: 40px;
    font-family: cursive;
    text-decoration-line: underline;
    color: brown;
    margin-top: 10px;
}
.para4{
    border: black;
    border-style: solid;
    padding: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: wheat;
    text-align: center;
    font-size: 40px;
}
.para4 span{
    background-color: wheat;
}
#para1{
    font-size: 20px;
    font-style: italic;
    font-family: monospace;
    color: brown;
    text-align: center;
}
#para2{
    text-align: center;
}
#para3{
    color:brown;
    font-size: 30px;
    text-decoration-line: underline;
    margin-bottom: 5px;
    margin-top: 10px;
}
#para4{
    color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: bold; 
}
.img{
    height:200px;
    width:300px;
    float: center;
    border: black;
    border-style: solid;
    border-width: 5px;
    margin-left: 520px;
}
.firstimages{
    height: 500px;
    width: 656px;
    border: black;
    border-width: 4px;
    border-style: solid;
}
.secondimages{
    height: 240px;
    width: 320px;
    border: black;
    border-width: 5px;
    border-style: solid;
    margin-right: 0;
}
.thirdimages{
    height: 340px;
    width: 430px;
    border: black;
    border-width: 5px;
    border-style: double;
}
.fourthimages{
    height: 600px;
    width: 660px;
}
.fifthimages{
    height: 172px;
    width: 270px;
    border: black;
    border-width: 5px;
    border-style: solid;
}
.sixthimages{
    border: black;
    border-style: ridge;
    border-width: 5px;
    height: 250px;
    width: 320px;
}
.seventhimages{
    height: 135px;
    width: 320px;
}
.eighthimages{
    height: 90px;
    width: 320px;
}
p{
    text-indent: 20px;
    font-size: 20px;
    color: black;
}
.horizontal-align::after{
    content:"";
    clear: both;
    display: table;
}
body{
    background-color:  rgb(189, 182, 182);
}
.div1{
    float: left;
    width: 50%;
}
#div2{
    float: right;
    width: 50%;
}
.div3{
    float: none;
    width: 100%;
}
#div4{
    float: left;
    width: 25%;
}
.div5{
    float: right;
    width: 70%;
    color: rgb(2, 29, 121);
}
.div6{
    background-image:url("wrap.jpg");    
    background-repeat: repeat;
    background-position: none;
    background-attachment: scroll;
    background-size:cover;
    height: 100%;
}
.div7{
    float: left;
    width: 50%;
}
.div8{
    float: right;
    width: 50%;
}
.div9{
    float: left;
    width: 50%;
}
.div10{
    float: right;
    width: 50%;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 250px;
    background-image: url("pork1.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: scroll;
    background-size:cover;
}
.box{
    position: center;
    padding: none;
    padding-left: none;
    background: rgba(255, 255, 255,.2);
    box-shadow: 0 5px 15px 15px rgba(0, 0, 0,.5);
    float: right;
    width: 75%;
    margin-left: 0;
}
.clients{
    border: black;
    border-width: 2px;
    border-style: solid;
    font-style: italic;
    font-size: 20px;
    font-family: fantasy;
    background-color: wheat;
}
li{
    font-size: 20px;
    text-indent: 20px;
}
ol{
    list-style-type: circle;
    list-style-position: inside;
    color: rgb(2, 29, 121);
    font-style: solid;
    font-size: 20px;
}
#seasons{
    background-color: white;
}
#white{
    background-color: white;
}
.button{
    background-color:wheat;
    font-size: 20px;
    font-style: bold;
    padding: 5px;
    text-align: center;
    margin: 16px;
    border: black;
    border-style: solid;
    float: center;
}
.button:hover{
    color: white;
    background-color: brown;
    float: center;
}
#contact{
    color: black;
    text-decoration-line: underline;
    font-size: 30px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
.info{
    width: 35%;
    border: black;
    box-shadow: brown  0px 10px 10px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    margin-right: 4px;
    margin-top: 0;
}
.tel{
    text-align: center;
    text-indent: 18px;
}
.email{
    text-indent: 10px;
}
.contact-items{
    display: flex;
}
.a{
    color: black;
}
.a:hover{
    color: white;
}
.ul{
    list-style-type: square;
    margin: 0;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: black;
    font-size: 20px;
}
.list{
    float: left;
    display: table;
    text-align: center;
    padding: 5px;
    background-color: black;
}
.list:hover {
    background-color:wheat;
    color: black;
}
.link{
    color: white;
}
.link:hover {
    color: black;
}
.footer{
    font-family: monospace;
    font-size: 20px;
    border: black;
    color: white;
    background-color: black;
    border-width: 10px;
    border-style: dotted;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    float: none;
    width: 98%;
    margin-left: -7px;
}
.slider{
    width: 1330px;
    height: 800px;
    background-color: wheat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
    animation: slide 2s infinite;
}
.image-container {
    width: 6650px;;
    background-color: wheat;
    height: 800px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left s;
  }
  .slide {
    height: 800px;
    width: 1330px;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -1330px;
  }
  #slide-3:target ~ .image-container {
    left: -2660px;
  }
  #slide-4:target ~ .image-container {
    left: -3990px;
  }
  .buttons {
    position: relative;
    top: -30px;
  }
  #button1{
      padding-left: 20px;
      padding-right: 20px;
  }
  .buttons a {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background-color: black;
  }
  .button:hover{
      color: white;
  }
  .wrapper{
    position: inherit;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
    margin-top: 200px;
    margin-bottom: 0;
}
.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}
.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 6%;
}
.input-fields,
.msg{
    width: 48%;
}
.input-fields .input,
.msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid wheat;
    padding: 10px;
    color: white;
    width: 100%;
}
.msg textarea{
    height: 186px;
}
::-webkit-input-placeholder{
    color: rgba(247, 243, 243, 0.493);
}
::-moz-input-placeholder{
    color: rgba(247, 243, 243, 0.493);
}
::-ms-input-placeholder{
    color: rgba(247, 243, 243, 0.493);
}
.send{
    background: wheat;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: solid;
    font-size: 20px;
}
.send:hover{
    color: black;
    background: brown;
}
@media screen and (max-width: 700px){
    .contact-form{
        flex-direction: column;
    }
    .msg textarea{
        height: 80px;
    }
    .input-fields,
    .msg{
        width: 100%;
    }
}
