h1 span{
    font-size: 120px;
    color: rgb(241, 0, 0);
    border: black;
    border-radius: 30px;
    border-width: 10px;
    border-style: solid;
    padding: 20px;
    float: left;
    size: 50%;
    margin-left: 20px;
}
h2{
    font-size: 55px;
    color: rgb(241, 0, 0);
    text-align: center;
    text-decoration-line: underline ;
}
.wrapper{
  width:100%;
  max-width: 1920px;
  min-width: 480px;
  overflow: hidden;
  
}
.logo{
    float: right;
    size: 50%;
    height: 200px;
    width: 310px;
    border-radius: 30px;
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom: 130px;
    margin-top: 0px;
}
.slider{
    width: 1330px;
    height: 675px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
    float: below;
}
a{
  font-size: 16px;
  text-transform: uppercase;
}
.dp{
  background-color: black;
}
.dp::after{
  content: "";
  clear: both;
  display: block;
  margin-bottom: -60px;
}
.dp ul{
  list-style: none;
  margin: 5px;
}
.dp > ul > li{
  float: left;
  position: relative;
}
.dp ul li a{
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
  margin-left: 6px;
  margin-top: 6px;
}
.dp ul li:hover a{
  background: red;
}
.dp ul ul{
  position: absolute;
  padding: 0;
  min-width: 160px;
  display: none;
  top: 100%;
  left: 0;

}
.dp ul li:hover > ul{
  display: block;
}
.dp ul ul li{
  position: relative;
  margin-top: -10px;
  margin-bottom: 10px;
  float: center;
}
.dp ul ul li:hover a{
  background: black;
}
.image-container {
    width: 6650px;
    background-color: red;
    height: 675px;
    clear: both;
    position: relative;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }
  .slide {
    height: 675px;
    width: 1330px;
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -1330px;
  }
  #slide-3:target ~ .image-container {
    left: -2660px;
  }
  #slide-4:target ~ .image-container {
    left: -3990px;
  }
  .buttons {
    position: relative;
    top: -30px;
  }
  #button1{
    padding-left: 20px;
    padding-right: 20px;
}
.buttons a {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 100px;
  background-color: red;
}
.button:hover{
    color: white;
}
.div1{
    float: center;
    size: 100%;
    padding-left: none;
    margin-top: 200px;
    margin-left: 0;
    padding-top: none;
}
.div2{
  width: 35%;
  margin-right: 0;
}
.rep{
  height: 130px;
  width: 250px;
}
.para1{
  text-indent: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bolder;
}
.rep-items{
  border-top: blue;
  border-bottom: rgb(241, 0, 0);
  border-left: white;
  border-right: white;
  border-width: 5px;
  border-style: solid;
  padding: none;
  display: flex;
}
.pro{
  font-size: 50px;
  text-align: center;
  width: 30%;
  margin-top: 0;
  margin-right: 60px;
}
.ad{
  float: right;
  width: 35%;
}
.dis{
  font-size: 30px;
  font-style: italic;
  margin-left: 40px;
}
.zoom{
  font-size: 80px;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 0;
}

.a{
  color: black;
}
.a:hover{
  color: white;
}
.al{
  list-style-type: square;
  margin: 0;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: rgb(241, 0, 0);
  font-size: 25px;
  font-weight: bolder;
  margin-top: -50px;
  margin-bottom: -180px;
  width: 100%;
}
.list1{
  float: left;
  display: block;
  text-align: left;
  padding: 5px;
  background-color: rgb(241, 0, 0);
  padding-right: 20px;
  font-size: 25px;
}
.list1:hover {
  background-color:white;
  color: black;
}
.link1{
  color: black;
}
.link1:hover {
  color: black;
}
#link a{
  display: none;
}
.dp ul > ul > li{
  position: relative;
}
.search{
  width: 400px;
  padding: 5px;
  border: red;
  border-style: solid;
  border-width: 1px;
  font-size: 18px;
  text-align: left;
  margin: 7px;
  margin-left: 160px;
}
.icon{
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  width: 35px;
  height: 32px;
  border-radius: none;
  color: white; 
  margin-top: 8px;
  margin-right: 6px;
}